.label{
    font-size: 2em;
}
.label2{
    font-size: 2em;
    margin-top: 0.6em;
}

.caja{
    width: 45px;
    height: 45px;
    margin-left: 1em;
}
.ingresos{
    color:green;
}
.gastos{
    color:red;
    margin-right: 0.7em;
}
.input{
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;

}
.resultado1 , .resultado2{
    font-size: 2em;

}
.resultado1{
    color: blue;
}
.resultado2{
    color:green;
}
.boton{
    font-size: 2em;
    height: 2em;
}